
@model ItemDetailsPageViewModel
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="product-slick">
                        <div>
                            @{ if (!string.IsNullOrEmpty(@Model.itemDetails.imageName))
                                {
                                    <img src=@string.Format("/Uploads/Images/ItemImages/{0}",@Model.itemDetails.imageName) alt=""
                                         class="img-fluid blur-up lazyload image_zoom_cls-0">
                                    
                                }
                                else
                                {
                                    <img src="~/Website/images/pro3/1.jpg" alt=""
                                         class="img-fluid blur-up lazyload image_zoom_cls-0">
                                }
                            }


                        </div>
                        <div>
                            <img src="~/Website/images/pro3/2.jpg" alt=""
                                 class="img-fluid blur-up lazyload image_zoom_cls-1">
                        </div>
                        <div>
                            <img src="~/Website/images/pro3/27.jpg" alt=""
                                 class="img-fluid blur-up lazyload image_zoom_cls-2">
                        </div>
                        <div>
                            <img src="~/Website/images/pro3/27.jpg" alt=""
                                 class="img-fluid blur-up lazyload image_zoom_cls-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                <div>
                                    @{ if (!string.IsNullOrEmpty(@Model.itemDetails.imageName))
                                        {
                                            <img  src=@string.Format("/Uploads/Images/ItemImages/{0}",@Model.itemDetails.imageName) alt=""
                                                 class="img-fluid blur-up lazyload">

                                        }

                                        else
                                        {
                                            <img src="~/Website/images/pro3/1.jpg" alt=""
                                                 class="img-fluid blur-up lazyload">
                                        }
                                    }

                                </div>
                                <div>
                                    <img src="~/Website/images/pro3/2.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </div>
                                <div>
                                    <img src="~/Website/images/pro3/27.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </div>
                                <div>
                                    <img src="~/Website/images/pro3/27.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-description-box">
                        <h2>@Model.itemDetails.itemName</h2>
                        <div class="single-product-tables border-product detail-section">
                            <table>
                                <tbody>
                                    <tr>
                                        <td> @ProductDetailsResource.ProductName :</td>
                                        <td>@Model.itemDetails.itemName</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.ProductCategory:</td>
                                        <td>@Model.itemDetails.categoryName</td>
                                    </tr>

                                    <tr>
                                        <td>@ProductDetailsResource.ProductType:</td>
                                        <td>@Model.itemDetails.itemTypeName</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.ProductPrice:</td>
                                        <td>$ @Model.itemDetails.salesPrice</td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <form class="d-inline-block">
                                    <button class="wishlist-btn">
                                        <i class="fa fa-heart"></i><span class="title-font">Add To WishList</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">100% SECURE PAYMENT</h6>
                            <div class="payment-card-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><img src="~/Website/images/icon/visa.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/Website/images/icon/mastercard.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/Website/images/icon/paypal.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Website/images/icon/american-express.png"
                                                 alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/Website/images/icon/discover.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-form-box">
                        <h4><del>$459.00</del><span>55% off</span></h4>
                        <h3>$ @Model.itemDetails.salesPrice</h3>

                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                        <div class="product-description border-product">

                           </div>
                        <div class="product-buttons">
                            <button data-toggle="modal" data-target="#addtocart" data-id="@Model.itemDetails.itemId"
                               class="btn btn-solid add-To-Cart">add to cart</button> 
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-home-tab" data-toggle="tab"
                           href="#top-home" role="tab" aria-selected="true">@ProductDetailsResource.ProductDescription</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-top-tab" data-toggle="tab"
                           href="#top-profile" role="tab" aria-selected="false">@ProductDetailsResource.ProductDetails</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-top-tab" data-toggle="tab"
                           href="#top-review" role="tab" aria-selected="false">Write Review</a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                         aria-labelledby="top-home-tab">
                        <p>
                            @Model.itemDetails.description
                        </p>
                    </div>
                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        <div class="single-product-tables">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>@ProductDetailsResource.ProductWeight:</td>
                                        <td>@Model.itemDetails.weight</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.DiskSize:</td>
                                        <td>@Model.itemDetails.hardDisk</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.Ram:</td>
                                        <td>@Model.itemDetails.ramSize</td>
                                    </tr>

                                    <tr>
                                        <td>@ProductDetailsResource.GPU :</td>
                                        <td>@Model.itemDetails.gpu</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.ScreenSize:</td>
                                        <td>@Model.itemDetails.screenSize</td>
                                    </tr>




                                </tbody>

                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>@ProductDetailsResource.ProductCategory:</td>
                                        <td>@Model.itemDetails.categoryName</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.ProductType:</td>
                                        <td>@Model.itemDetails.itemTypeName</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.OS :</td>
                                        <td>@Model.itemDetails.osName</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.Processor:</td>
                                        <td>@Model.itemDetails.processor</td>
                                    </tr>
                                    <tr>
                                        <td>@ProductDetailsResource.ScreenResolution:</td>
                                        <td>@Model.itemDetails.screenReslution</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                        <form class="theme-form">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <label>Rating</label>
                                        <div class="media-body ml-3">
                                            <div class="rating three-star">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Your name"
                                           required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="review">Review Title</label>
                                    <input type="text" class="form-control" id="review"
                                           placeholder="Enter your Review Subjects" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="review">Review Title</label>
                                    <textarea class="form-control" placeholder="Wrire Your Testimonial Here"
                                              id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->
<!-- product section start -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>related products</h2>
            </div>
        </div>
        <div class="row search-product">


            

                    @foreach (var product in Model.recomendedProducts)
                    {

                        <div class="col-xl-2 col-md-4 col-sm-6">
                            <div class="product-box">
                                <partial name="_ProductBox2" model="@product" />
                            </div>
                        </div>
                    }
                </div>
            </div>
</section>
<!-- product section end -->


@section zoomScript{
    <!-- Zoom js-->
    <script src="~/Website/js/jquery.elevatezoom.js"></script>

}



          
   